
/* remove text align from body after mvp */
body {
  margin: 0 auto;
  text-align: center;
  font-family: "Roboto", sans-serif;
  background-color: rgb(255, 255, 255);
}

.main-container {
  display: flex;
}

.sidebar-container {
  width: 15em;
  background-color: rgb(83, 83, 83);
  color: white;
}

.sidebar-buttons {
  display: flex;
  flex-direction: column;
}

.sidebar-link {
  margin: 3px;
}

.overview-container {
  display: flex;
}

.status-card {
  display: flex;
}

.namespace-container {
  width: 20em;
  margin-left: 20px;
  margin-bottom: 15px;
  color: #3371e3;
}

.events-container {
  border-left: 1px solid #f0efef;
  width: 50%;
}

.events-dropdown-container {
    display: flex;
    margin-left: 30px;
    margin-top: 14px;
    margin-bottom: 10px
}

.events-dropdown {
  width: 9em;
  margin-right: 2em;
  color: #3371e3;
}

.severity-dropdown {
  width: 9em;
  color: #3371e3;
}

/* hides the scrollbar while maintainig functionality */
::-webkit-scrollbar {
    display: none;
}


/* remove text align on alerts-container */
.events-card-container {
    display: flex;
    flex-direction: column;
    padding: 1em;
    max-height: 80vh;
    margin: 5px;
    margin-top: 0px;
    overflow-y: scroll;
    text-align: left;
    min-width: 20%;
    overflow-x: hidden;
}

.alert-card,
.event-card {
    padding: 10px;
    padding-left: 15px;
    padding-top: 15x;
    margin-bottom: 10px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.1), 0 8px 8px rgba(0,0,0,0.01);
    border-radius: 20px;
    color: #333;
}

.alert-card:hover,
.event-card:hover {
    background-color: rgb(250, 250, 250);
    box-shadow: 0 8px 8px rgba(0,0,0,0.1), 0 12px 12px rgba(0,0,0,0.01);
} 

.alert-content-group,
.alert-content-state,
.alert-content-name,
.alert-content-severity,
.alert-content-description,
.alert-content-summary,
.event-content-last_seen,
.event-content-message,
.event-content-object,
.event-content-reason,
.event-content-severity {
    color:#797676;
    overflow-wrap: break-word;
    max-width: 82%;
}

.alert-content-group {
  margin-left: 49px;
}
.alert-content-state {
  margin-left: 55px;
}
.alert-content-name {
  margin-left: 49px;
}
.alert-content-severity {
  margin-left: 35px;
}
.alert-content-description {
  margin-left: 10px;
}
.alert-content-summary {
  margin-left: 22px;
}

.event-content-last_seen {
    margin-left: 10px
}
.event-content-message {
    margin-left: 15px
}
.event-content-object {
    margin-left: 34px
}
.event-content-reason {
    margin-left: 27px
}
.event-content-severity {
    margin-left: 23px
}

.alert-description,
.event-description {
    color:#3371E3;
    font-weight: 500;
}

.alert-line,
.event-line {
    display: flex;
}
.summary-name {
    font-weight: bold;
}

.select-namespace {
  margin: 0 auto;
  max-width: 70%;
}

/* --- Status Container Stuff --- */

.status-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 1em;
    /* min-width: 60%; */
    max-width: 70%;

}
/* holds all status cards */
.bubble-container {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  border-radius: 1em;
  padding: 1em;
  justify-content: space-between;
  margin-bottom: 1em;
}
/* holds the status name, bubbles and qty */
.status-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-bottom: 1em;
}

/* holds all the status bubbles */
.bubble-box {
  display: flex;
  min-width: 70%;
  flex-wrap: wrap;
}

/* individual status bubbles */
.status-box {
    background-color: #28a745;
    border: 1px solid #228d3b;
    border-radius: 3px;
    width: 20px;
    height: 20px;
    margin: 1px;
   
}

/* name of type of status */
.status-name {
  text-align: left;
  min-width: 25%;
  padding-right: 1em;
}
/* quantity of type of status */
.quantity-box {
  padding-right: 1em;
}


/* /metrics */
.graph-container {
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
}

.metrics-graph-card {
    width: 500px;
    height: 200px;
    border: 1px dotted  #797676;
    margin-right: 20px;
}